
@using Pizza.MvcWebUI.Entity
@model IEnumerable<Category>
@{
    var selectedCategory = Url.RequestContext.RouteData.Values["id"];//burada listden sonra gelen id selectedcategory atanır if döngüsünde active edilir.
}  

<ul class="list-unstyled">
    @foreach (var item in Model)
    {

        if (selectedCategory != null)
        {
            if (item.Id == int.Parse(selectedCategory.ToString()))
            {
                <li><a href="/Home/BlogList/@item.Id" class="py-2 d-block">@item.Name</a></li>

            }
            else
            {
                <li><a href="/Home/BlogList/@item.Id" class="py-2 d-block">@item.Name</a></li>



            }
        }
        else
        {
            <li><a href="/Home/BlogList/@item.Id" class="py-2 d-block">@item.Name</a></li>

        }
    }
</ul>

